.logo {
  @include font(700, 26px, 0.03em, Raleway);

  line-height: 1.19;
  color: #000000;

  &-blue {
    display: inline-block;
    color: $accent-color;
  }

  &-white {
    color: white;
  }

  &.header {
    margin-right: 85px;
    padding: 24px 0 25px 0;
  }
}
