.section {
  padding: 94px 0;

  &-title {
    margin-bottom: 50px;
    color: $title-text-color;
    text-align: center;
  }
  &-work-example {
    padding-bottom: 94px;
  }
  &-team {
    padding-top: 94px;
    padding-bottom: 94px;

    background: #f5f4fa;
  }
  &-client {
    padding: 94px 0 94px 0;
  }
}
